{% extends "base.html" %}
{% block title %}POKEDEX{% endblock title %}
{% block content %}
    <p class="p-2">Hola, este es tu primer sitio en Django</p>
    <a href="{% url 'pokedex:add_pokemon' %}">Crear pokemon</a>
    <a href="{% url 'logout' %}">Salir</a>
    <div class="card-group">
        {% for  pokemon in  pokemons %}
            <div class="card">
                <img src="{{pokemon.picture.url}}" alt="" class="card-img-top"/>
                <div class="card-body">
                <h4 class="card-title">{{pokemon}}</h4>
                <p>
                    Entrenador: {{pokemon.trainer}} <br>
                    Peso: {{pokemon.weight}} kg <br>
                    Tipo: {{pokemon.type}}
                </p>
                <a href="pokemon/{{pokemon.id}}" class="btn btn-primary">Detalles</a>
            </div>
            </div>
        {% endfor %}
    </div>    
{% endblock content %}

